body {
     background-image: url("white-simple.jpg");
     border:1.5px double black;
     padding: 10px 10px 1px 10px;
}
* {
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
p {
     font-size: 20px;
     white-space: pre;
     text-shadow: 1px 1px 25px #005070d0;
} 
h1{
     text-shadow: 1px 1px 20px #3e00705b;
}
::selection {
     color: white;
     background: rgb(0, 92, 128);
}
#Arsham{
     margin: 1px;
     border: 1.5px black solid;
     border-radius: 5px;
     list-style-image: unset;
}
#Note{
     margin: 1px;
     font-size: x-small;
     
}